
  body{
       margin:0;
       padding:0;
       font-family: "Microsoft Yahei";
       font-size:12px;
       background-image: url("../img/dust.png");
       }
       
    /* 头部 */   
	.top{
	   position:absolute;
	   width:100%;
	   height:240px;
	   top:0px;
	   left:0px;
	   background:#0066FF
	}
	/* 放置图片的div */
	.toptitle{
		position:absolute;
		width:100%;
		height:80%;
	}
	
	/* 菜单栏 */
	.menu{
	    position:absolute;
		width:100%;
		height:20%;
		bottom:0px;
		background:url("../img/titlebg.png");
	}
	
	.menubox{
		position:relative;
		width:70%;
		height:80%;
		margin:0px auto;
		background:url("../img/titlebg.png");
	}
	
	.menuboxchoice{
		position:relative;
		width:90%;
		height:70%;
		margin:8px auto;
		background:url("../img/titlebg.png");
		font-size: 15pt;
	}
	
	
	    /* 标题栏中的链接属性设置*/
	    a.title:link{
	    color:#FFF;
	    text-decoration:none;
	     }
	    a.title:visited {
	     color:#FFF;
	     text-decoration:none;
	     }
	    a.title:hover {color:#e58100;}	
        a.title:active {color:#FFF;}	
	    a.title{
	    display:inline-block;
	    position:relative;
	    width:15%;
		font-size: 16pt;
		text-align: center;
	     }
	
	    /* 主体部分 */
	   .main{
	    position:relative;
		width:70%;
		height:1150px;
		margin:0px  auto;
		background:#FF0000;
		}
		
		/* 布告板 (主体引用BootStrap的css文件) */ 
	   .slideout{
		width:100%;
		height:35%;
		margin:0 auto;
		background: white;
		}
		/* 修改(bootstrap)布告板的有关属性*/
	   .carousel-indicators {
       bottom: 0px;
        }
        
       .slide {
       width: 100%;
       background: none repeat scroll 0% 0% #fff;
       margin: 240px auto;
       height: 400px;
        }
        
        .carousel-inner {
       position: relative;
       width: 100%;
       height:400px;
       margin:240dp auto;
       overflow: hidden;
        }
        /* 修改完毕 */
		
		/* 信息栏 */
		.info{
		width:100%;
		height:65%;
		margin:0px auto;
		background-image: url("../img/dust.png");
		}	
	
	
	    /*更多的链接设置*/
	   a.a:link{color:#ccc;}
	   a.a:visited {color:#ccc;}
	   a.a:hover {color:#000;}	
       a.a:active {color:#ccc;}	
	   a.a{
		font-size: 10pt;
		float:right;
		margin-top: 10px;
	  }
	
	
	   /* 设置信息链表链接属性*/
	   a.b:link{
		color:black;
		text-decoration:none;
	   }
	   a.b:visited {
	   color:black;
	   text-decoration:none;
	   }
	   a.b:hover{
	   color:#e58100;
	   text-decoration: underline;
	   }
	   a.b:active {
	   color:black;
	   text-decoration: underline;
	   }
	   a.b{
		font-size:12pt;
		padding-left: 5px;
	   }
	
	/* 列表中的第一条下划线hr属性*/
	.firstline{
		width: 100%;
		margin-bottom: 10px;
	}
	/* 列表中的第一条下划线hr属性*/	
	.remainline{
		width:"90%";
		margin-bottom: 10px;
		margin-top: 10px;
	}
	
	/* 社区动态 */
	.communityservice{
	    float: left;
        display: inline-block;
        height: 350px;
        width: 49%;
        margin-bottom: 10px;
        margin-top:10px;
        margin-right:10px;
        background: #FFFFFF;
        border-width: 2px;
		}
		
	/* 服务信息  */	
		.serviceinfo{
		float:right;
        display: inline-block;
        height: 350px;
        width: 49%;
        overflow-y: hidden;
        margin-bottom: 10px;
        margin-top:10px;
        margin-right:0px;
        background: #FFFFFF;
        border-color: blue;
        border: 2em;
		}
	/* 健康知识  */	
		.healthknowledge{
		float:left;
        display: inline-block;
        height: 350px;
        width: 49%;
        overflow-y: hidden;
        margin-bottom: 10px;
        margin-top:10px;
        margin-right:0px;
        background: #FFFFFF;
        border-color: blue;
        border: 2em;
		}
	/* 娱乐文化 */	
		.culture{
		float:right;
        display: inline-block;
        height: 350px;
        width: 49%;
        overflow-y: hidden;
        margin-bottom: 10px;
        margin-top:10px;
        margin-right:0px;
        background: #FFFFFF;
        border-color: blue;
        border: 2em;
		}
	
	/*每个信息的标题栏（如：社区动态）*/	
	.column{
		width: 90%;
		height: 40px;
		font-size: 20pt;
		margin-left: 30px;
		margin-top: 13px;
		margin-right:5px;
		color: blue;
		font-weight: bold;
	}
	
	/* 时间的类选择器 */
	.timelocate{
		float: right;
		font-size: 10pt;
	    margin-lft: 10px;
	}
		
     /* 底部 */
		.foot{
		position:relative;
		width:70%;
		height:100px;
		margin:0 auto;
		background:url("../img/titlebg.png");
		}
		
	 	
		.footbasic{
			position: absolute;
			width: 100%;
			height: 30%;
			bottom: 5px;
			background:url("../img/titlebg.png");
		}
		
		.footbasicinfo{
			position: relative;
			width: 80%;
			height: 100%;
			margin: 0 auto;
			background:url("../img/titlebg.png");
			text-align: center;
		}