/* Essentials */



html, body {
height:820px;
margin: 0px;
padding: 0px;
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体",
		"Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
background: #F8F8F8;
font-size: 12px;
}


a:link, a:visited {
color: #fff;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}


/* Head*/
#head  {
	height: 95px;
	width: 100%;
}

/* Header */

#header {
height: 55px;
width: 100%;
background: #222222 url(../img/header_bg.png) repeat-x;
}

#header .site_title {
float: left;
margin: 0;
display: inline;
width: 23%;
height: 55px;
font-weight: normal;
text-align: left;
text-indent: 1.8%;
line-height: 55px;
color: #fff;
text-shadow: 0 -1px 0 #000;
font-size: 22px;
border-width: 0px;
}

#header .site_title a {
color: #fff;
text-decoration: none;
}

#header .section_title {
float: left;
margin: 0;
display: inline;
height: 55px;
font-weight: normal;
text-align: center;
text-indent: 4.5%;
width: 68%;
background: url(../img/header_shadow.png) no-repeat left top;
font-size: 25px;
line-height: 55px;
color: #fff;
text-shadow: 0 -1px 0 #000;
}

#header .btn_view_site {
float: left;
margin: 0;
display: inline;
width: 9%;
height: 55px;
font-weight: normal;
text-align: left;
text-indent: 1.8%;
line-height: 55px;
color: #fff;
text-shadow: 0 -1px 0 #000;
font-size: 22px;
}

#header .btn_view_site a {
color: #fff;
text-decoration: none;
}

#header.btn_view_site a:hover {
background-position: 0 -27px;
}

/* Secondary Header Bar */

#secondary_bar {
height: 38px;
width: 100%;
background: #F1F1F4 url(../img/secondary_bar.png) repeat-x;
}

#secondary_bar .user {
float: left;
width: 23%;
height: 38px;
}

.user p {
margin: 0;
padding: 0;
color: #666666;
font-weight: bold;
display: block;
float: left;
width: 85%;
height: 35px;
line-height: 35px;
text-indent: 25px;
text-shadow: 0 1px 0 #fff;
background: url(../img/icn_user.png) no-repeat center left;
margin-left: 6%;
}

.user a {
text-decoration: none;
color: #666666}

.user a:hover {
color: #77BACE;
}

.user a.logout_user {
float: left;
display: block;
width: 16px;
height: 35px;
text-indent: -5000px;
background: url(../img/icn_logout.png) center no-repeat;
}

/* Breadcrumbs */
#secondary_bar .breadcrumbs_container {
float: left;
width: 77%;
background: url(../img/secondary_bar_shadow.png) no-repeat left top;
height: 38px;
}

.breadcrumbs {
float: left;
padding: 0 10px;
display: inline;
border: 1px solid #ccc;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 0 #fff;
-moz-box-shadow: 0 1px 0 #fff;
box-shadow: 0 1px 0 #fff;
height: 23px;
margin: 4px 3%;
}

.breadcrumbs a {
display: inline-block;
float: left;
height: 24px;
line-height: 23px;
}

.breadcrumbs a.current, .breadcrumbs a.current:hover {
color: #9E9E9E;
font-weight: bold;
text-shadow: 0 1px 0 #fff;
text-decoration: none;
}

.breadcrumbs a:link, .breadcrumbs a:visited {
color: #44474F;
text-decoration: none;
text-shadow: 0 1px 0 #fff;
font-weight: bold;}

.breadcrumbs a:hover {
color: #222222;
}

.breadcrumb_divider {
display: inline-block;
width: 12px;
height: 24px;
background: url(../img/breadcrumb_divider.png) no-repeat;
float: left;
margin: 0 5px;
}

/*---------------------------------head结束------------------*/

/* Sidebar */

#sidebar  {
width: 100%;
margin-top: 0px;
height: 100%;
background: #E0E0E3 url(../img/sidebar.png) repeat;
float: left;
min-height: 500px;
}

#sidebar hr {
border: none;
outline: none;
background: url(../img/sidebar_divider.png) repeat-x;
display: block;
width: 100%;
height: 2px;
}




/* Sidebar Menu */

#sidebar h3 {
color: #1F1F20;
text-transform: uppercase;
text-shadow: 0 1px 0 #fff;
font-size: 16px;
margin: 10px 0 10px 6%;
display: block;
float: left;
width: 90%;
}

/*隐藏的标签*/
/*---------------*/
.toggleLink {
color: #999999;
font-size: 10px;
text-decoration: none;
display: block;
float: right;
margin-right: 2%;
font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体",
		"Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
}

#sidebar .toggleLink:hover {
color: #77BACE;
text-decoration: none;
}
/*------------*/

#sidebar ul {
clear: both;
margin: 0; padding: 0;
}

#sidebar li {
list-style: none;
margin: 0 0 0 12%; padding: 0;
}

#sidebar li a {
color: #222;
padding-left: 25px;
text-decoration: none;
display: inline-block;
height: 24px;
line-height: 24px;
text-shadow: 0 1px 0 #fff;
margin: 2px 0;
font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体",
		"Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
font-size: 10pt;
		
}

#sidebar li a:hover {
color: #000;
}

/* Sidebar Icons */

#sidebar li.icn_new_article a {
background: url(../img/icn_new_article.png) no-repeat center left;
}
#sidebar li.icn_edit_article a {
background: url(../img/icn_edit_article.png) no-repeat center left;
}
#sidebar li.icn_categories a {
background: url(../img/icn_categories.png) no-repeat center left;
}
#sidebar li.icn_tags a {
background: url(../img/icn_tags.png) no-repeat center left;
}
#sidebar li.icn_add_user a {
background: url(../img/icn_add_user.png) no-repeat center left;
}
#sidebar li.icn_view_users a {
background: url(../img/icn_view_users.png) no-repeat center left;
}
#sidebar li.icn_profile a {
background: url(../img/icn_profile.png) no-repeat center left;
}
#sidebar li.icn_folder a {
background: url(../img/icn_folder.png) no-repeat center left;
}
#sidebar li.icn_photo a {
background: url(../img/icn_photo.png) no-repeat center left;
}
#sidebar li.icn_audio a {
background: url(../img/icn_audio.png) no-repeat center left;
}
#sidebar li.icn_video a {
background: url(../img/icn_video.png) no-repeat center left;
}
#sidebar li.icn_settings a {
background: url(../img/icn_settings.png) no-repeat center left;
}
#sidebar li.icn_security a {
background: url(../img/icn_security.png) no-repeat center left;
}
#sidebar li.icn_jump_back a {
background: url(../img/icn_jump_back.png) no-repeat center left;
}

#sidebar p {
color: #666666;
padding-left: 6%;
text-shadow: 0 1px 0 #fff;
margin: 10px 0 0 0;}

#sidebar a {
color: #666666;
text-decoration: none;
}

#sidebar a:hover {
text-decoration: underline;
}

#sidebar footer {
margin-top: 20%;
}
.copyright{
	font-size: 18pt;
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体",
		"Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
}


/* 每个页面的总体布局样式*/
#head_content {
	height: 95px;
	width: 100%;
}

#sidebar_content {
	width: 23%;
	margin-top: -6px;
	height: 745px;
	background: #E0E0E3 url(<%=basePath%>img/sidebar.png) repeat;
	float: left;
	min-height: 500px;
}

#main_content {
	width: 77%;  
	height: 720px;
    margin-top: -6px;
	float: left;
	padding-top:20px;
	background-color: #F5F5F5;

}

/*添加成功页面所显示样式*/
#success_div {
	position: relative;
	margin: 300px auto;
	width: 300px;
	height: 125px;
	background-image: url(../img/success.png)
}
/*添加删除成功页面所显示样式*/
#delsuccess_div{
    position:relative;
    margin:300px auto;
	width: 300px;
	height: 125px;
	background-image: url(<%=basePath %>img/deletesuccess.png)
}
/*添加页面中作者以及标题样式*/
#add_content {
	position: relative;
	width: 95%;
	left: 5%;
	background-color: #F5F5F5;
}

#article_div {
	position: relative;
	width: 100%;
	height: 8%;
	background-color: #F5F5F5;
}

#author_div {
	position: relative;
	width: 100%;
	height: 8%;
	margin-top: 20px;
	background-color: #F5F5F5;
}
#add_content span {
	position: relative;
	width: 10%;
	height: 90%;
	top: 5%;
	bottom: 5%;
	background-color: #F5F5F5;
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体",
		"Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
	font-size: 15pt;
}
#add_content input {
	position: relative;
	width: 70%;
	height: 80%;
	top: 5%;
	bottom: 5%;
	background-color: white;
	font-size: 15pt;
}
/*标题与作者(来源)的错误提示样式*/
#title-error{
	color: red;
	font-size: 14pt;
}
#author-error{
	color: red;
	font-size: 14pt;
}
/*编辑器的样式*/
#ueditor_div{
	position: relative;
	width: 100%;
	height: 500px;
	margin-top: 10px;
}
/*提交按钮的样式*/
#submit_div{
	position: relative;
	margin: 5px auto;
	width: 90px;
	height: 30px;
}
#sub{
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 15pt;
	background-color: #4169E1;
	cursor:pointer;
}
/*点击查看按钮中的主界面的样式*/
#listinfo_div{
	position: relative;
	width: 100%;
	height: 100%;
}
#info_div{
	position: relative;
	width: 100%;
	height: 80%;
	margin: 0 auto;
}
#info_div ul{
	position: relative;
	width: 95%;
	height: 90%;
}
#info_div li{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 50px;
}
#info_div span{
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体",
		"Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
	font-size: 12pt;
}
.info_title_div{
	display: inline-block;
	width: 50%;
	height: 60%;
	padding-top: 10px;
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体",
		"Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
	font-size:12pt;
}
.info_options_div{
	display: inline-block;
	width: 40%;
	height: 100%;
	float: right;
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体",
		"Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
	font-size: 12pt;
}
#info_div hr{
	margin-bottom: 15px;
}
#pageinfo_div{
	position: relative;
	margin:0 auto;
	width: 60%;
	height: 30px;
	text-align: center;
}
#pageinfo_div span{
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体",
		"Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
}

/*具体文章的内容样式*/
#content {
	position: relative;
	margin : 10px auto;
	width: 90%;
	height:700px;
	background-color: #FFFFFF;
	border-style:solid;
	border-radius:5px;
	border-width:1px;
	border-color: #BABABA;
}

/* 文章的标题  */
.articletitle {
	position: relative;
	width: 75%;
	margin: 10px auto;
	height: 5%;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}
/* 文章的时间和标题  */
.dateandauthor {
	position: relative;
	width: 75%;
	margin: 5px auto;
	height: 25px;
	text-align: center;
	font-weight: bold;
	background-color: #F0F0F0;
	padding-top: 15px;
}

/* 文章的主题内容   */
#articlecontent {
	position: relative;
	width: 90%;
	height:auto!important;
	min-height:85%;
	margin: auto;
	overflow: auto;

}